{% extends 'web_project/main.html' %}

{% block content %}

{% include 'web_project/status.html' %}

<br>
    <div class="row">
        <div class="col-md">
            <h5>LAST 5 ORDERS</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="">Craete order</a>
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Customer</th>
                        <th>Remove</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}